composer.lock
/app/Config/db-config
/node_modules
/public/static/bower_components
/public/static/typings
/vendor
/.idea
/test
/tmp
/public/tmp
/db
/public/test.php

/app/Controller
/app/EventHandler
/app/Model
/app/Route
/app/View
!/app/View/Layout/Global.php