.left-padded {
    padding-left: 20px;
}

.alert-box {
    padding: 5px 20px;
    border-radius: 5px;
}

.alert-selected {
    border: 1px solid #eee;
    background: #efefef;
}

div.media-block {
    text-align: center;
}

div.media-add-button {
    border: 2px dotted #aaa;
    min-width: 120px;
}

div.media-add-button:hover {
    border: 2px dotted green;
}

.media-add-button ul.dropdown-menu {
    margin-top: -100px;
}

.media-add-button > a {
    padding: 77px 0;
    display: block;
}

.truncated {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.fixed-height {
    height: 200px !important;
}

.image-editor-canvas {
    height: 480px !important;
    overflow: auto !important;
    background: #fff !important;
}

.minute-modal .dialog > .box-youtube {
    width: 99%;
    max-width: 858px;
}
